* {
	box-sizing: border-box;
}
.right {
	width: 30vw;
	height: 100%;
	float: right;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.left {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 10vw;
	height: 100%;
}
nav {
	position:sticky;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10vh;
	background-color: rgba(0, 0, 0, 0.85);
}
a {
	text-decoration: none;
	letter-spacing: 1px;
	font-family: Pangolin;
	color: aliceblue;
	transition: 400ms;
}
a:hover {
	color: rgba(95, 95, 95, 0.85);
	transition: 500ms;
}
.right a:nth-child(2) {
	margin: 0 18px;
}
.right a:nth-child(3) {
	border: 1px solid rgba(209, 209, 209, 0.679);
	border-radius: 9999px;
	padding: 10px;
	margin-left: 15px;
	transition: 400ms;
}
.right a:nth-child(3):hover {
	background-color: aliceblue;
	color: rgba(0, 0, 0, 0.85);
	transition: 500ms;
}
section {
	display: block;
	width: 60vw;
	margin: 30px auto;
}
p {
	font-family: Pangolin;
	font-size: 1.2rem;
	letter-spacing: 2px;
	line-height: 1.5rem;
	margin-bottom: 30px;
}